.label-tag {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  margin: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.label-tag-merged { background-color: #bfe5bf; }
.label-tag-dev { background-color: #009800; }
.label-tag-test { background-color: #FF7E3F; }
.label-tag-live { background-color: #0A85CB; }
.label-tag-bug { background-color: #fc2929; }
.label-tag-feature { background-color: #E8FFA4; }
.label-tag-enhancement { background-color: #84b6eb; }
.label-tag-ready-for-review { background-color: #252759; }
.label-tag-released-for-customer-review { background-color: #291B52; }
.label-tag-markup { background-color: #fad8c7; }
.label-tag-invalid { background-color: #e6e6e6; }
.label-tag-duplicated { background-color: #cccccc; }
.label-tag-needs-clarification { background-color: #cc317c; }
.label-tag-missing-design-materials { background-color: #5319e7; }
.label-tag-css { background-color: #fbca04; }
.label-tag-priority { background-color: #6B191C; }
.label-tag-cant-reproduce { background-color: #20A74A; }

.dark-background {
  color: white;
}
